In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./Data/Instant_datasets/11_data.csv")

In [31]:
df

,id,latter,gyroX,gyroY,gyroZ,accelX,accelY,accelZ,UserID
0,5220,A,-0.022550,0.036438,-0.058438,-0.109105,0.541576,0.848715,11
1,5221,T,-0.005500,0.136537,0.103537,0.007755,0.530150,0.842077,11
2,5222,F,-0.067237,0.169537,0.093912,-0.034874,0.571648,0.800778,11
3,5223,A,0.186312,0.011962,0.020488,-0.192420,0.544528,0.856761,11
4,5224,R,0.006325,0.288888,-0.034925,-0.023968,0.590416,0.822299,11
...,...,...,...,...,...,...,...,...,...
645,6515,W,0.032038,-0.096250,0.011962,-0.007847,0.683919,0.733477,11
646,6516,A,-0.010588,-0.196350,0.021588,-0.051287,0.685662,0.730020,11
647,6517,B,-0.059538,-0.181500,0.016225,-0.006317,0.676577,0.704629,11
648,6518,U,-0.103262,-0.195250,-0.024200,-0.008566,0.693203,0.716560,11
649,6519,S,0.083187,-0.154825,-0.010312,-0.016321,0.675154,0.751021,11

First in first we neet to create our test data respect to latters

In [87]:
#seperate data frame respect to latter,
latter_set = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
a_df = df[df["latter"] == "G"]
# learn data_length
num_row = len(a_df)

In [88]:
chunk_size = 5
chunks = [a_df.iloc[i:i+chunk_size] for i in range(0, len(a_df), chunk_size)]

# Yalnızca 5 satırlı olan alt DataFrame'leri seçelim
chunks = [chunk for chunk in chunks if len(chunk) == chunk_size]

chunks[0]

,id,latter,gyroX,gyroY,gyroZ,accelX,accelY,accelZ,UserID
10,5230,G,0.025575,-0.125537,0.012925,-0.177935,0.626101,0.766623,11
13,5233,G,-0.098037,-0.088137,-0.026400,-0.099315,0.618254,0.754891,11
84,5408,G,-0.075488,0.273762,0.087587,0.089021,0.610193,0.810063,11
138,5540,G,-0.047987,-0.249838,-0.153313,-0.106963,0.649763,0.747855,11
161,5615,G,-0.016775,0.177650,0.051425,0.059959,0.508430,0.854527,11

In [89]:
import pandas as pd

# column_keys listesini tanımlayın
column_keys = [
    "gyroX_mean", "gyroY_mean", "gyroZ_mean",
    "accelX_mean", "accelY_mean", "accelZ_mean",
    "gyroX_std", "gyroY_std", "gyroZ_std",
    "accelX_std", "accelY_std", "accelZ_std",
    "target_column"
]

# Sütun adlarıyla uyumlu olarak boş bir DataFrame oluşturun
feature_df = pd.DataFrame(columns=column_keys)

# Oluşturulan DataFrame'i ekrana yazdırın
print(feature_df)

# chunks döngüsü başlamadan önce tanımlanmış olmalıdır
for i, chunk in enumerate(chunks, start=1):
    # Her bir alt DataFrame için istatistiksel özellikleri hesaplayın
    mean_values = chunk[['gyroX', 'gyroY', 'gyroZ', 'accelX', 'accelY', 'accelZ']].mean()
    std_values = chunk[['gyroX', 'gyroY', 'gyroZ', 'accelX', 'accelY', 'accelZ']].std()

    # Yeni satır verilerini oluşturun
    new_row_data = {
        "gyroX_mean": mean_values["gyroX"],
        "gyroY_mean": mean_values["gyroY"],
        "gyroZ_mean": mean_values["gyroZ"],
        "accelX_mean": mean_values["accelX"],
        "accelY_mean": mean_values["accelY"],
        "accelZ_mean": mean_values["accelZ"],
        "gyroX_std": std_values["gyroX"],
        "gyroY_std": std_values["gyroY"],
        "gyroZ_std": std_values["gyroZ"],
        "accelX_std": std_values["accelX"],
        "accelY_std": std_values["accelY"],
        "accelZ_std": std_values["accelZ"],
        "target_column": chunks[0].iloc[0, 1]  # Burada df yerine chunk kullanmanız gerekebilir
    }

    # Yeni satırı DataFrame'e ekleyin
    feature_df = pd.concat([feature_df, pd.DataFrame([new_row_data])], ignore_index=True)

Empty DataFrame
Columns: [gyroX_mean, gyroY_mean, gyroZ_mean, accelX_mean, accelY_mean, accelZ_mean, gyroX_std, gyroY_std, gyroZ_std, accelX_std, accelY_std, accelZ_std, target_column]
Index: []

/var/folders/8n/k4zvj6rn6zj1pjxj58pv87100000gn/T/ipykernel_81723/2206745981.py:42: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  feature_df = pd.concat([feature_df, pd.DataFrame([new_row_data])], ignore_index=True)

In [90]:
feature_df

,gyroX_mean,gyroY_mean,gyroZ_mean,accelX_mean,accelY_mean,accelZ_mean,gyroX_std,gyroY_std,gyroZ_std,accelX_std,accelY_std,accelZ_std,target_column
0,-0.042542,-0.002420,-0.005555,-0.047047,0.602548,0.786792,0.048731,0.219330,0.092912,0.115562,0.054652,0.044917,G
1,0.068255,0.092785,0.055412,-0.103500,0.646640,0.743820,0.117141,0.344890,0.025173,0.038145,0.010010,0.015532,G
2,0.098120,0.117150,0.022935,-0.017868,0.561026,0.809206,0.100554,0.178492,0.048271,0.091400,0.055097,0.018193,G
3,-0.048868,-0.072352,0.012210,-0.002365,0.440031,0.914297,0.089107,0.191690,0.022062,0.102393,0.064075,0.040956,G

In [91]:
target_value = feature_df["target_column"][0]
print(target_value)
feature_df.to_csv(f"{target_value}.csv" , index=False)

G